$green: #3FB921;
$darkBlue: #4444A3;
$dustyBlue: #9193B1;
$red: #EB3838; 

p, a, input, td, button {
  font-size: 16px;
}

h1, h2, h3 {
  color: #555;
}

a {
  color: $darkBlue;
  &:hover {
    color: $darkBlue;
    text-decoration: underline;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.center-block {
  float: none;
}

img.nav-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}