$green: #3FB921;
$darkBlue: #4444A3;
$dustyBlue: #9193B1;
$red: #EB3838; 

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

p, a, input, td, button {
  font-size: 16px;
}

p {
  margin: 0 0 15px;
}

p.task-title {
  font-size: 20px;
  line-height: 1.1;
}

p.task-description {
  font-size: 18px;
  line-height: 1.1;
  margin: 0;
}

h1, h2, h3 {
  color: #555;
}

h2 {
  font-size: 22px;
  line-height: 1;
  margin: 10px 0 20px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: $darkBlue;
  cursor: pointer;
  &:hover {
    color: $darkBlue;
    text-decoration: underline;
  }
}

a.delete {
  padding: 5px;
  margin-bottom: 10px;
  background: #eee;
  border-radius: 5px;
  display: block;
  float: right;
  &:hover {
    background: $red;
    color: white;
    text-decoration: none;
  }
}

.edit-links {
  margin-bottom: 20px;
}

button.list-button.highlight {
  background: $darkBlue;
  color: white;
}

.container-fluid {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.center-block {
  float: none;
}

img.nav-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.task-detail-wrapper {
  padding: 15px;
  background: #f1f1f1;
  border: 1px solid #dadada;
  margin-bottom: 20px;
}
