.form-wrapper {
  width: 500px;
  max-width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control {
  margin-bottom: 8px;
}

form.ng-invalid button {
  cursor: not-allowed;
}

table button {
  width: 100%;
  height: 31px;
  background: #3FB921;
  color: white;
  border: none;
}

.input-row input[type="text"] {
  background: white;
  &:focus {
    background: white;
  }
}

input[type="text"],
textarea {
  width: 100%;
}

.delete-list {
  cursor: pointer;
}