.form-wrapper {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 20px;
}

.form-wrapper.wide {
  width: 600px;
  max-width: 100%;
}

.task-edit-wrapper {
  background: #dadada;
  padding: 15px 15px 5px;
}

.form-control {
  margin-bottom: 8px;
  font-size: 16px;
}

.form-control[disabled] {
  background: none;
  border: 1px solid lighten($borderColor, 15%);
  color: darken($borderColor, 5%);
}

form button {
  width: 100%;
  height: 35px;
  background: #ccc;
  color: white;
  border: none; 
}

form.ng-invalid button {
  cursor: not-allowed;
}

form.ng-valid button {  
  background: $buttonValid;
  color: white;
  &:hover {
    background: darken($buttonValid, 10%);
  }
}

.input-row input[type="text"] {
  background: white;
  &:focus {
    background: white;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  font-size: 16px;
  border: 1px solid lighten($borderColor, 15%);
}

input[type="text"].title-editor {
  font-size: 28px;
  height: 50px;
  text-align: center;
  border: none;
  background: none;
  box-shadow: none;
  text-transform: uppercase;
  color: $headingColor;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  &:focus {
    border: 1px solid #66AFE9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

input[type="text"].add-new,
input[type="email"].add-new,
input[type="password"].add-new {
  background: none;
}

textarea.form-control {
  border: 1px solid lighten($borderColor, 15%);
  margin: 0 0 20px;
}

input[type="submit"] {
  background: $buttonValid;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  &:hover {
    background: darken($buttonValid, 10%);
  }
}

.list-button-outer {
  margin: 28px 0 0;
}

button.list-button {
  border-radius: 5px;
  border: 1px solid lighten($tableBackground, 25%);
  background: lighten($tableBackground, 3%);
  color: lighten($tableBackground, 25%);
  padding: 2px 5px;
  font-size: 16px;
  float: left;
  margin: 0 8px 8px 0;
  &:active {
    outline: none;
  }
}

button.list-button.highlight {
  background: lighten($buttonValid, 10%);
  border: 1px solid darken($buttonValid, 15%);
  color: white;
}


button.form-control {
  height: auto;
}