.form-wrapper {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 20px;
}

.form-control {
  margin-bottom: 8px;
}

form button {
  width: 100%;
  height: 35px;
  background: #ccc;
  color: white;
  border: none; 
}

form.ng-invalid button {
  cursor: not-allowed;
}

form.ng-valid button {  
  background: $green;
  &:hover {
    background: darken($green, 10%);
  }
}

.input-row input[type="text"] {
  background: white;
  &:focus {
    background: white;
  }
}

input[type="text"],
textarea {
  width: 100%;
}

input[type="submit"] {
  background: $green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  &:hover {
    background: darken($green, 10%);
  }
}