.form-wrapper {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 20px;
}

.form-control {
  margin-bottom: 8px;
  font-size: 16px;
}

form button {
  width: 100%;
  height: 35px;
  background: #ccc;
  color: white;
  border: none; 
}

form.ng-invalid button {
  cursor: not-allowed;
}

form.ng-valid button {  
  background: $buttonValid;
  color: white;
  &:hover {
    background: darken($buttonValid, 10%);
  }
}

.input-row input[type="text"] {
  background: white;
  &:focus {
    background: white;
  }
}

input[type="text"],
textarea {
  width: 100%;
  font-size: 16px;
}

input[type="text"].title-editor {
  font-size: 28px;
  height: 50px;
  text-align: center;
  border: none;
  background: none;
  box-shadow: none;
  text-transform: uppercase;
  color: $headingColor;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  &:focus {
    border: 1px solid #66AFE9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}


textarea.form-control {
  margin: 0 0 20px;
}

input[type="submit"] {
  background: $buttonValid;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  &:hover {
    background: darken($buttonValid, 10%);
  }
}

.list-button-outer {
  margin: 5px 0 15px;
}

button.list-button {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #eee;
  padding: 2px 5px;
  font-size: 16px;
  float: left;
  margin: 0 8px 8px 0;
  &:active {
    outline: none;
  }
}

button.form-control {
  height: auto;
}