@media (max-width: 767px) {
  .top-nav {
    padding: 0;
  }

  .display-row:hover {
    background: $tableBackground;
  }

  .top-nav ul .nav-left li a {
    padding: 12px 5px 12px 15px;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
  p, a, input, td, button, button.list-button,
  .form-control, input[type="text"], textarea {
    font-size: 18px;
  }

  .table > tbody > tr > td {
    font-size: 20px;
  }

  span.list-item {
    font-size: 16px;
  }
}