@media (max-width: 767px) {
  .top-nav {
    padding: 0;
  }

  .view-task,
  .view-list {
    &:hover {
      background: none;
    }
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
  p, a, input, td, button,
  .form-control, input[type="text"], textarea {
    font-size: 18px;
  }

  span.lists {
    background: #eee;
    font-size: 16px;
  }
}