.table-wrapper {
  width: 100%;
  float: left;
}

.table > tbody > tr > td {
  vertical-align: middle;
  padding: 6px 8px;
  font-size: 18px;
  border-top: 1px solid $borderColor;
}

table input[type="text"],
table textarea {
  border: none;
}

table, td {
  border: 1px solid $borderColor;
}

.table > tbody > tr > td.create {
  padding: 0;
}

.date-col {
  width: 100px;
}

.add-col,
.view-col {
  width: 60px;
}

button.list-item {
  white-space: nowrap;
  padding: 2px 4px;
  background: lighten($tableBackground, 10%);
  font-size: 15px;
  margin: 0 4px 2px 0;
  border: none;
  &:active {
    outline: none;
  }
}

.display-row {
  background: $tableBackground;
  color: $tableColor;
  cursor: pointer;
  td.task-title:hover {
    background: darken($tableBackground, 3%);
  }
}