.table-wrapper {
  width: 100%;
  float: left;
}

.table > tbody > tr > td {
  vertical-align: middle;
  padding: 6px 8px;
  font-size: 18px;
  border-top: 1px solid $borderColor;
}

table input[type="text"],
table textarea {
  border: none;
}

table, td {
  border: 1px solid $borderColor;
}

.table > tbody > tr > td.create {
  padding: 0;
}

.date-col {
  width: 100px;
}

.add-col,
.view-col {
  width: 60px;
}

span.list-item {
  padding: 2px 4px;
  background: lighten($tableBackground, 10%);
  font-size: 15px;
  margin-right: 5px;
}

.display-row {
  background: $tableBackground;
  color: $tableColor;
  cursor: pointer;
  &:hover {
    background: darken($tableBackground, 3%);
  }
}