.table-wrapper {
  width: 100%;
  float: left;
}

.table > tbody > tr > td {
  vertical-align: middle;
  padding: 4px 8px;
  height: 36px;
}

table input[type="text"],
table textarea {
  border: none;
}

table, td {
  border: 1px solid #DDD;
}

.table > tbody > tr > td.create {
  padding: 0;
}

.input-row,
.display-row:hover {
  background: #eee;
}

thead {
  background: $darkBlue;
  color: white;
}

.date-col {
  width: 100px;
}

.add-col,
.view-col {
  width: 60px;
}

span.list-item {
  padding: 2px 4px;
  background: #eee;
  font-size: 14px;
  margin-right: 5px;
}

.view-task,
.view-list {
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}