<div class="header" ng-controller="NavCtrl">
  <div class="top-nav">
    <ul>

      <span class="nav-left" ng-show="signedIn">
        <li><a href="#/tasks/">Tasks</a></li>
        <li><a href="#/">Lists</a></li>
        <li><a href="#/list/today">Today</a></li>
      </span>
      
      <span class="nav-right">
        <span ng-show="signedIn">
          <li class="hidden-xs">
            <a href="#/tasks/">{{ currentUser.email }}</a>
          </li>
          <li>
            <a href="#" ng-click="logout()">Logout</a>
          </li>
        </span>
        <span ng-hide="signedIn">
          <li>
            <a href="#/register">Register</a>
          </li>
          <li>
            <a href="#/login">Log In</a>
          </li>
        </span>
      </span>

    </ul>
  </div>
</div>

