<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <div class="form-wrapper">
        <form name="inputform" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="list.title" placeholder="Put your list title here" required>
            <button set-focus type="submit" class="form-control" ng-click="createList()" ng-disabled="inputform.$invalid">Create new list</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <td>Lists for {{ currentUser.email }}</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'display-row': list.$priority > 2}" ng-repeat="list in lists | orderByPriority">
              <td class="view-list" ng-click="viewListDetail(list.$id)" title="Go to Task detail">{{ list.title }}</td>
            </tr>
          </tbody>  
        </table>
      </div>
    </div>
  </div>

</div>