<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="table-wrapper">
        <form name="tableform">  
          <table class="table">
            <thead>
              <tr>
                <td>Lists for {{ currentUser.email }}</td>
                <!--<td class="date-col hidden-xs">Date added</td>-->
                <td class="add-col">&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr class="input-row">
                <td><input type="text" ng-model="list.title" required autofocus></td>
                <!--<td class="hidden-xs">{{ now | date: 'mediumDate' }}</td>-->
                <td class="text-center create" ><button class="table-button" type="submit" ng-click="createList()" ng-disabled="tableform.$invalid" set-focus>add</button></td>
              </tr>
              <tr ng-repeat="list in lists | orderByPriority | orderBy:'date'">
                <td><input type="text" ng-model="list.title" ng-blur="updateListItem(list.$id, 'title', list.title)"></td>
                <!--<td class="hidden-xs">{{ list.date | date: 'mediumDate' }}</td>-->
                <td class="text-center delete-list" ng-click="deleteList(list.$id)">x</td>
              </tr>
            </tbody>  
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-wrapper visible-xs">
        <ng-form name="inputform" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="list.title" placeholder="list" required>
            <button type="submit" class="form-control" ng-click="createList()" ng-disabled="inputform.$invalid">Add List</button>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</div>