<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-4 center-block">
      <div class="auth-forms">
        <h2>Log In</h2>       
        <form ng-submit="login()">
          <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
          <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
          <p ng-show="error" class="text-danger">{{ error }}</p>
          <input type="submit" value="Log in">&nbsp;&nbsp;<a href="#/register">Register</a>
        </form>
        <h2>{{ currentUser.email }}</h2>
      </div>
    </div> 
  </div>
</div>