<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-4 center-block">
      <div class="auth-forms">
        <h2>Log In</h2>       
        <form ng-submit="login()">
          <input type="email" ng-model="user.email" placeholder="Email" class="form-control add-new" required>
          <input type="password" ng-model="user.password" placeholder="Password" class="form-control add-new" required>
          <p ng-show="error" class="text-danger">{{ error }}</p>
          <input type="submit" value="Log in">&nbsp;&nbsp;<a href="#!/register">Register</a>
        </form>
        <p ng-click="showResetInput()"><a>Forgot your password?</a></p>
        <form ng-show="reset" ng-submit="sendResetPasswordEmail()">
          <input type="email" ng-model="resetEmail" placeholder="Email" class="form-control add-new" required>
          <p class="text-danger">{{ error }}</p>
          <input type="submit" value="Get password">
          <p>{{ message }}</p>
        </form>        
      </div>
    </div> 
  </div>
</div>