<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="auth-forms">
        <h2>Log In</h2>
       
        <form ng-submit="login()">
          <input type="email" ng-model="user.email" placeholder="Email" class="form-control">
          <input type="password" ng-model="user.password" placeholder="Password" class="form-control">
          <p ng-show="error" class="text-danger">{{ error }}</p>
          <input type="submit" value="Log in" class="btn btn-primary">
        </form>
      </div>
    </div> 
  </div>
</div>