<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">  
      <div class="form-wrapper">
        <h2 class="custom-title">All Tasks</h2>
        <form name="inputform" novalidate>
          <div class="row">
            <div class="col-xs-9">
              <input type="text" class="form-control" ng-model="task.title" placeholder="Put your task title here" required>
            </div>
            <div class="col-xs-3">
              <button type="submit" set-focus class="form-control" ng-click="createTask()" ng-disabled="inputform.$invalid">add</button>
            </div>
          </div>
        </form>
        <table class="table">
          <tbody>
            <tr ng-click="viewTaskDetail(task.$id)" class="display-row" ng-repeat="task in tasks | orderByPriority | orderBy:'-date'">
              <td ng-click="viewTaskDetail(task.$id)" title="Go to Task detail">{{ task.title }}</td>
              <td><span ng-repeat="list in lists | orderByPriority"><span ng-if="taskIsOnList(task.$id, list)"class="list-item">{{ list.title }}</span></span></td>                
            </tr>
          </tbody>  
        </table>
      </div>
    </div>
  </div>
</div>