<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">  
      <div class="form-wrapper">
        <form name="inputform" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="task.title" placeholder="Put your task title here" required>
            <button type="submit" set-focus class="form-control" ng-click="createTask()" ng-disabled="inputform.$invalid">Create new task</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <td>Tasks for {{ currentUser.email }}</td>
            </tr>
          </thead>
          <tbody>
            <tr class="display-row" ng-repeat="task in tasks | orderByPriority | orderBy:'-date'">
              <td class="view-task" ng-click="viewTaskDetail(task.$id)" title="Go to Task detail">{{ task.title }}<br><span class="lists" ng-repeat="list in lists | orderByPriority"><span ng-if="taskIsOnList(task.$id, list)"class="list-item">{{ list.title }}</span></span></td>                
            </tr>
          </tbody>  
        </table>
      </div>
    </div>
  </div>
</div>