<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <h2 class="custom-title">Task Detail</h2>
      <div class="task-detail-wrapper">
        <p class="task-title">{{ task.title }}</p>
        <p class="task-description">{{ task.description }}</p>
      </div>      
      <div class="row">
        <div class="col-xs-12 list-button-outer">
          <div ng-repeat="list in lists  | orderByPriority | orderBy: 'position'">
            <button class="list-button" ng-class="{highlight: listsToHighlight[list.$id]}" ng-click="addOrRemoveTaskFromList(list.$id)">{{ list.title }}</button>
          </div>
        </div>
      </div>
      <div class="row edit-links">
        <div class="col-xs-6">
          <a href="#/tasks/" class="back-link">Back to Tasks</a>
        </div>
        <div class="col-xs-6 text-right">
          <a ng-hide="edit" ng-click="edit=true">Edit Task</a>
          <a ng-show="edit" ng-click="edit=false">Close</a>          
        </div>
      </div>
      <div ng-show="edit">
        <input type="text" class="form-control" ng-model="task.title" required ng-blur="updateTaskItem(task.$id, 'title', task.title)">
        <textarea class="form-control" ng-model="task.description" placeholder="Task description" ng-blur="updateTaskItem(task.$id, 'description', task.description)"></textarea>
        <div class="row">
          <div class="col-xs-7">
            <p>{{ task.date | date: 'mediumDate'  }}</p>
          </div>
          <div class="col-xs-5">
            <a class="delete" ng-click="deleteTask(task.$id)">Delete Task</a>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>