<div class="container-fluid">
  <h3>Task Detail</h3>
  <p>The taskId: {{ task.$id }}</p>
  <p>Title: {{ task.title }}</p>
  <p>Description: {{ task.description }}</p>
  <p>Date added: {{ task.date | date: 'mediumDate' }}</p>

  <h2>The lists</h2>
  <div ng-repeat="list in lists | orderByPriority">
    <p ng-class="{highlight: listsToHighlight[list.$id]}" ng-click="addTaskToList(task.$id, list.$id)">{{ list.title }}, {{ list.date | date: 'mediumDate' }}, {{ list.$priority }}, {{list.$id}}</p>
  </div>
</div>